<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="End your relationship with HTTP status codes">
    <meta name="keywords" content="data dater error dump http status codes gifs breakup break-up relationship taylor swift running away run gif 410 gone forever">
    <link rel="icon" href="favicon.ico">
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/styled.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cousine:400,700' rel='stylesheet' type='text/css'>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69028005-3', 'auto');
  ga('send', 'pageview');
    </script>
    <title>Dater Error: 410</title>
  </head>

  <body>
    <div class="heading">
      <h1>410</h1>
      <h2>Gone</h2>
    </div>
    <div class="heading">
      <p>so out of here</p>
      <ul>
        <li><a href="409">PREV</a></li>
        <li><img src="/img/410-taylor.gif"></li>
        <li><a href="412">NEXT</a></li>
      </ul>
      <br>
      <a class="basic" href="/">Dater Error</a>
    </div>

    <div class="adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- bottom ads -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7218753973510881"
           data-ad-slot="6236499056"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <script src="ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
